nav > ul{
    display:flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
}

nav li:hover{
    background-color: rgb(141, 230, 137);
}

nav li a{
    text-decoration: none;
    color: chocolate;
    font-size: 20px;
}

.dropdown{
    display: none;
}


nav > ul > li:hover > ul{
    display: block;
    position:absolute;
    background-color: rgb(177, 231, 231);
    padding: 0px;
}

.dropdown li{
    margin: 0px;
    padding: 0px 20px;

}